@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tyrwfu');
  src:  url('fonts/icomoon.eot?tyrwfu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tyrwfu') format('truetype'),
    url('fonts/icomoon.woff?tyrwfu') format('woff'),
    url('fonts/icomoon.svg?tyrwfu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e90e";
}
.icon-telegram-fill:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-metro:before {
  content: "\e90a";
}
.icon-person:before {
  content: "\e90b";
}
.icon-phone-call:before {
  content: "\e908";
}
.icon-tick:before {
  content: "\e907";
}
.icon-world:before {
  content: "\e903";
}
.icon-chevron:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-x-mark:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e904";
}
