@import "./transition.css";
@import "./tailwind.css";
@import "../fonts/stylesheet.css";
@import "../fonts/sf-rounded-stylesheet.css";

* {
	overscroll-behavior-y: none;
	font-family: "Aeonik Pro", sans-serif !important;
}

body {
	background-color: #f5f7fa;
}
.everest-kids * {
	font-family: "SFRounded", sans-serif !important;
}

.glass-card {
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	background: #ffffff0d;
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	box-shadow:
		0 8px 32px #0000001a,
		inset 0 1px #ffffff80,
		inset 0 -1px #ffffff1a,
		inset 0 0 #fff0;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
}

.glass-card::before {
	background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.1), transparent);
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.glass-card:hover {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.skeleton {
	background-color: #f6f7f8;
	background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: linear;
}

.skeleton.skeleton_dark {
	background-color: #1c2329;
	background-image: linear-gradient(to right, #1c2329 0%, #283139 20%, #1c2329 40%, #1c2329 100%);
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}
.fade-enter-active {
	animation: Fade 0.3s ease;
}

.fade-leave-active {
	animation: Fade 0.3s ease-in reverse forwards;
}

.fade-sm-enter-active {
	animation: Fade 100ms ease-in;
}

.fade-sm-leave-active {
	animation: Fade 100ms ease-out reverse;
}

@keyframes Fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.container-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1536px;
}
