.glass-card {
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	background: #ffffff0d;
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	box-shadow:
		0 8px 32px #0000001a,
		inset 0 1px #ffffff80,
		inset 0 -1px #ffffff1a,
		inset 0 0 #fff0;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	overflow: hidden;
}
.glass-card::before {
	background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.8), transparent);
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.glass-card:hover {
	backdrop-filter: blur(20px) !important;
	-webkit-backdrop-filter: blur(20px);
}

.image-loading {
	position: relative;
	overflow: hidden;
}
.image-loading:after {
	content: "";
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: #f6f7f8;
	background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: linear;
}
@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

.title-style {
	font-size: 24px;
	font-weight: 700;
}
.base-title-style {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.75rem;
	margin-bottom: 1rem;
}

@media (min-width: 640px) {
	.title-style {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.base-title-style {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@media (min-width: 768px) {
	.title-style {
		font-size: 32px;
	}
	.base-title-style {
		font-size: 32px;
		margin-bottom: 1.5rem;
	}
}
